body{
    background-color: #e5e5e5;
}
.main-area{
    display: flex;
    justify-content: space-between;
    padding-top: 120px;
    margin: 0 5%;
}
.leaflet-container {
    height: 450px;
    width: 80%;
}
.map{
    width: 100%;
}
.orders-title{
    margin: -17px 8px 10px;
    color: #425d5a;
    font-size: 18px;
    font-weight: 500;
    background-color: #e5e5e5;
    width: fit-content;
}
.orders{
    border: #425d5a solid 2px;
    border-radius: 10px;
    height: auto;
    width: 95%;
    padding: 0 2%;
}
.order{
    margin: 1.5% 0;
    width: auto;
    height: auto;
    border: #425d5a solid 1.5px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 12px;
    font-weight: 500;
    color: #425d5a;
    flex-wrap: wrap;
}
.city{
    height: 50px;
    display: flex;
    flex-direction: column;
}
.city p{
    margin: 3px 0;
    height: auto;
}
.history{
    flex-direction: column;
    align-items: center;
}
.create{
    width:45%;
    height: auto;
    flex-direction: column;
}
.order-form{
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
}
.form-input{
    width: 40%;
}
.order-form p{
    margin: 10px 8px 2px;
    color: #425d5a;
    font-size: 14px;
    font-weight: 500;
}
.create button{
    margin-bottom: 5px;
}
.info{
    align-items: flex-start;
    width: 35%;
}
.info p{
    margin-left: 3%;
    color: #425d5a;
    font-size: 18px;
    font-weight: 500;
}
.logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.get {
    width: 60%;
    height: auto;
}
.center-align{
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.filter-orders{
    margin-top: 15px;
    height: 220px;
}
